

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"form-signin" ) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-label-group text-center">
                   <%= f.label :username  %><br />
                   <%= f.text_field :username,class: "form-control",placeholder:"Username" %>
              </div>

              <div class="form-label-group text-center">
                   <%= f.label :fullname %><br />
                   <%= f.text_field :fullname,class: "form-control",placeholder:"Fullname" %>
              </div>

              <div class="form-label-group text-center">
                  <%= f.label :email %><br />
                   <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email address" %>
              </div>
              
              <hr>

              <div class="form-label-group text-center">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class:"form-control" ,placeholder:"Password"%>
              </div>
              
              <div class="form-label-group text-center">
                  <%= f.label :password_confirmation %><br />
                 <%= f.password_field :password_confirmation, autocomplete: "new-password",   class:"form-control", placeholder:"Password" %>
              </div>
               
                <div class="form-label-group col-md-12 text-center">
            
                 <%= f.submit "Sign up", class:"btn btn-lg btn-block text-uppercase text-center"%>
            
                 </div>
              <hr class="my-4">
              <% end %>
              <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



