
<% @user ||= current_user %>
<h1><%= current_user.username.upcase %> </h1>
<br><br>
<div class="profile-follows">
<a href="<%= following_user_path(@user) %>">
 <p>Following
 <%= current_user.following.count %>
   <a href="<%= followers_user_path(@user) %>">
  <p>Followers
 <%= current_user.followers.count %>
 </div>